<section class="section" role="main">
<div class="container">

  <h1>Job Listings
    <%= link_to 'Add a job', new_job_path, class: "btn btn-success" %>
  </h1>
  <%= render :partial => 'job' %>
  <br />
</div>
</section>
