<section class="section" role="main">
<div class="container">

<%= link_to('New Event', new_event_path, :class => "btn btn-primary") if current_user.try(:admin?) %></h1>

<%= render :partial => 'published_events' %>
<%= render :partial => 'draft_events' if current_user.try(:admin?) %>

<br />
</div>
</section>
