// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.job a.title {
font-weight: bold;
font-size: 25px;
margin-right: 5px;
display: inline-block;
height: 19px;
white-space: nowrap;
}

div.job p.employer {
  white-space: nowrap;
  font-weight: bold;
  color: #444;
  display: inline-block;
  height: 16px;
  white-space: nowrap;
  margin-left: 4px;
}
div.job > .location {
  font-size: 92%;
  font-style: italic;
 }
div.job > .location {
      font-size: 92%;
      font-style: italic;
}
#new_job input[type=text],
#new_job textarea{
  display: block;
  margin-bottom: 17px;
  margin-top: 2px;
  width: 98%;
}


