<section class="section" role="main">
<div class="container">
	<div class="page-header">
		<h1>About</h1>
	</div>
	Arizona State University’s Department of Information Systems Club (DISC) is a dynamic social organization comprised of motivated professionals-in-training. Primarily pursuing Computer Information Systems degrees, DISC members are well versed in both information technology and business. While the University degrees familiarize students with a wide variety of practices and concepts, the Club puts them into action. Career development, leadership, collaboration, and community involvement are DISC members’ priorities. They network with leading firms and professionals from a wide range of industries, gaining valuable insights and exposure to the inner workings of their trade.
	<br />
	Founded in 1999, DISC has grown into an internationally-recognized, dynamic forum for career development and successful HR efforts. Think Information Technology (IT) isn’t for you? Think again. IT is vital  to every organization, and having information management skills will enhance your future in any field. It’s the difference between the small and big pile when it comes to resumes. It may be the difference of a digit or two on your salary…or it just might be the place you found a community of smart friends that help and hang out with you the rest of your life.

  <%#
	<div class="page-header">
		<h1>Meet the Team</h1>
	</div>
%>

</div>
</section>
