<style>
    div#team {
        margin-top: 140px;
    }
    
    div#team img.prof {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    
    div#team img.social {
        height: 32px;
        width: 32px;
        margin-left: 0px !important;
    }
</style>
<div id="team">
    <div class="container">
        <div class="section_header">
            <h3><strong>Meet the Team</strong></h3>
        </div>

        <div class="row people">
            <div class="row row 1">
                <div class="span4"></div>
                <div class="span4 bio_box">
                    <img src="/assets/2016-17/President.jpg" class="prof" alt="" height="171" width="171">
                    <div class="info">
                        <p class="name">Vi TranLe</p>
                        <p class="area">President</p>
                        <p>
                            <a href="https://www.linkedin.com/profile/view?id=289225863"><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:vtranle@asu.edu"><img src="/assets/gmail.png" class="social" /></a>
                        </p>
                    </div>
                </div>
                <div class="span4"></div>
            </div>
        </div>

        <div class="row people">
            <div class="row row1">
                <div class="span6 bio_box bio_boxr">
                    <img src="/assets/2016-17/Community Service.jpg" class="prof" height="171" width="171">
                    <div class="info">
                        <p class="name">Shashank Rajani</p>
                        <p class="area">VP of Community Service</p>
                        <p>
                            <a href="https://www.linkedin.com/in/russelldavidm"><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:srajani@asu.edu"><img src="/assets/gmail.png" class="social" /></a>
                        </p>
                    </div>
                </div>
                <div class="span6 bio_box bio_boxr">
                    <img src="/assets/2016-17/Corporate Relations.jpg" class="prof" alt="" height="171" width="171">
                    <div class="info">
                        <p class="name">Rylee Green</p>
                        <p class="area">VP of Corporate Relations</p>
                        <p>
                            <a href="https://www.linkedin.com/profile/view?id=288695208"><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:rylee.green@asu.edu"><img src="/assets/gmail.png" class="social" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row people">
            <div class="row row1">
                <div class="span6 bio_box bio_boxr">
                    <img src="/assets/2016-17/Membership.jpg" class="prof" alt="" height="171" width="171">
                    <div class="info">
                        <p class="name">Kenneth Solano</p>
                        <p class="area">VP of Membership</p>
                        <p>
                            <a href="https://www.linkedin.com/profile/view?id=358367184"><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:kjsolano@asu.edu"><img src="/assets/gmail.png" class="social" /></a>
                        </p>
                    </div>
                </div>
                <div class="span6 bio_box bio_boxr">
                    <img src="/assets/2016-17/Finance.jpg" class="prof" alt="" height="171" width="171">
                    <div class="info">
                        <p class="name">Melvin Montenegro</p>
                        <p class="area">VP of Finance</p>
                        <p>
                            <a href="https://www.linkedin.com/in/jeremyknorr"><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:melvin.montenegro@asu.edu"><img src="/assets/gmail.png" class="social" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row people">
            <div class="row row1">
                <div class="span6 bio_box bio_boxr">
                    <img src="/assets/2016-17/IT.jpg" class="prof" alt="" height="171" width="171">
                    <div class="info">
                        <p class="name">Shiva Raisinghani</p>
                        <p class="area">VP of IT</p>
                        <p>
                            <a href="https://www.linkedin.com/in/cristiancuriel"><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:sraising@asu.edu"><img src="/assets/gmail.png" class="social" /></a>
                        </p>
                    </div>
                </div>
                <div class="span6 bio_box bio_boxr">
                    <img src="/assets/2016-17/Women in IT.jpg" class="prof" alt="" height="171" width="171">
                    <div class="info">
                        <p class="name">Sophia Butler</p>
                        <p class="area">VP of Women in Technology</p>
                        <p>
                            <a href="https://www.linkedin.com/in/rozaliyaeverstova "><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:sjbutle3@asu.edu"><img src="/assets/gmail.png" class="social" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>