<style>
div#team {
  margin-top: 140px;
}
div#team img.prof  {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
div#team img.social {
  height: 32px;
  width: 32px;
  margin-left: 0px !important;
}
</style>
<div id="team">
        <div class="container">
            <div class="section_header">
                <h3>Meet the Team</h3>
            </div>

            <div class="row people">
                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="/assets/Ethan-pic.jpg" class="prof" alt="" height="171" width="171">
                        <div class="info">
                            <p class="name">Ethan Selin</p>
                            <p class="area">President</p>
                            <p><a href="https://www.linkedin.com/profile/view?id=161654140"><img src="/assets/linkedin.png" class="social"/></a>
                            <a href="mailto:ethanselin@gmail.com"><img src="/assets/gmail.png" class="social" /></a></p>
                        </div>
                    </div>

                    <div class="span6 bio_box bio_boxr">
                        <img src="/assets/Aaron-pic.jpg" class="prof" alt="" height="171" width="171">
                        <div class="info">
                            <p class="name">Aaron Ortega</p>
                            <p class="area">VP of Finance</p>
                            <p>
                            <p><a href="https://www.linkedin.com/profile/view?id=289225863"><img src="/assets/linkedin.png" class="social" /></a>
                                <a href="mailto:theaaronortega@gmail.com"><img src="/assets/gmail.png" class="social" /></a></p>
                        </div>
                    </div>
                </div>
                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="/assets/Vincentprofessional.jpg" class="prof" heiht="171" width="171">
                        <div class="info">
                            <p class="name">Vincent Q Nguyen</p>
                            <p class="area">VP of Community Service</p>
                            <p><a href="https://www.linkedin.com/profile/view?id=147227709"><img src="/assets/linkedin.png" class="social" /></a>
                                <a href="mailto:vqnguyen16@gmail.com"><img src="/assets/gmail.png" class="social" /></a></p>
                        </div>
                    </div>
                    <div class="span6 bio_box bio_boxr">
                        <img src="/assets/sneha.jpg" class="prof" alt="" height="171" width="171">
                        <div class="info">
                            <p class="name">Sneha Patel</p>
                            <p class="area">VP of IT</p>
                            <p><a href="https://www.linkedin.com/profile/view?id=182557280"><img src="/assets/linkedin.png" class="social" /></a>
                                <a href="mailto:sneharachhadia@gmail.com"><img src="/assets/gmail.png" class="social" /></a></p>
                    </div>
                </div>
                </div>
                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="/assets/vi.jpg" class="prof" alt="" height="171" width="171">
                        <div class="info">
                            <p class="name">Vi TranLe</p>
                            <p class="area">VP of Corporate Relations</p>
                            <p><a href="https://www.linkedin.com/profile/view?id=288695208"><img src="/assets/linkedin.png" class="social" /></a>
                                <a href="mailto:vi.t.tranle@gmail.com"><img src="/assets/gmail.png" class="social" /></a></p>
                        </div>
                    </div>
                    <div class="span6 bio_box bio_boxr">
                        <img src="/assets/Christine-pic.jpg" class="prof" alt="" height="171" width="171">
                        <div class="info">
                            <p class="name">Christine Abrazaldo</p>
                            <p class="area">VP of Membership</p>
                            <p><a href="https://www.linkedin.com/profile/view?id=358367184"><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:cmabrazaldo@gmail.com"><img src="/assets/gmail.png" class="social" /></a></p>
                        </div>
                    </div>
                </div>
                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="/assets/Jeff-pic.jpg" class="prof" alt="" height="171" width="171">
                        <div class="info">
                            <p class="name">Jeff Ding</p>
                            <p class="area">VP of Instruction</p>
                            <p><a href="https://www.linkedin.com/profile/view?id=179283847"><img src="/assets/linkedin.png" class="social" /></a>
                            <a href="mailto:jyding@asu.edu"><img src="/assets/gmail.png" class="social" /></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
