<div class="content">
  <div class="row">
    <div class="span12 offset1">
      <%= link_to 'Post a Job', new_job_path, :class => "btn btn-primary" %> 
      <%= link_to 'Member List', members_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>
