<div class="container">
  <div class="row-fluid">
    <div class="span3 dosc-sidebar-menu">
      <ul class="nav nav-list docs-sidebar-nav affix-top">
        <li class="active">Hello</li>
        <li class="">New Things</li>
      </ul>
    </div>
      <%= link_to 'Post a Job', new_job_path, :class => "btn btn-primary" %> 
      <%= link_to 'Member List', members_path, :class => "btn btn-primary" %>
  </div>
</div>
