<div class="row">
  <div class="span5">
    <div class="well">
      <h1><%= link_to "Events", events_path %> </h1>
      <%= render :partial => 'event' %>
    </div>
  </div>
  <div class="span6">
  </div>
