<div class="row">
  <div class="span5">
    <div class="well">
      <h1><%= link_to "Events", events_path %> </h1>
      <%= render :partial => 'event' %>
    </div>
  </div>
  <div class="span6">
    <section class="slider">
    <div class="container">
      <div class="well">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <img src="assets/slides/slide_1.jpg">
              <div class="carousel-caption animation">
                <h3 data-animate="fadeInDownBig" class="caption-black animate0" style="opacity: 0;">Simple and Clean Design</h3>
                <p data-animate="fadeInRightBig" class="caption-black-small animate1" style="opacity: 0;">Sed posuere consectetur est at lobortis.</p>
              </div>                                    
            </div>
            <div class="item">
              <img src="assets/slides/slide_2.jpg">
              <div class="carousel-caption animation">
                <h3 data-animate="fadeInLeftBig" class="caption-white animate0 fadeInLeftBig" style="opacity: 0;">ASU DISC</h3>
                <p data-animate="fadeInRightBig" class="caption-white-small animate1 fadeInRightBig" style="opacity: 0;">Sed posuere consectetur est at lobortis.</p>
              </div>                                    
            </div>
            <div class="item">
              <img src="assets/slides/slide_3.jpg">
              <div class="carousel-caption animation">
                <h3 data-animate="rotateIn" class="caption-black animate0" style="opacity: 0;">HTML5 and CSS3 Technology</h3>
                <p data-animate="rollIn" class="caption-black-small animate1" style="opacity: 0;">Sed posuere consectetur est at lobortis.</p>
              </div>                                    
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
        </div>
      </div>               
    </div>
    </section>
  </div>
