<section class="section" role="main">
<div class="container">
  <div class="page-header">
    <h1>Microsoft Opportunity Info</h1>
  </div>
  We will be serving as TA's for Microsoft for the windows phone app projects in CIS 105. 
  Only basic computing knowledge is required, we will hold one or two training workshops prior
  to the project. 
  This opportunity comes with these benefits:
  <br />
  <br />
  <ul>
    <li>Resume credit</li>
    <li>Chance to develop relationships with Microsoft tech evangelists and recruiters</li>
    <li>Special Event T-shirt</li>
  </ul>

  The lab will go from September 24th to October 3rd, and will be open from 10am - 6pm and will be ath the Microsoft offices at 60 E Rio Salado Pkwy, Tempe, AZ 85281. Ideally we should be able to have 3-4 there at the above times.

  <br />
  <br />
  To sign up click here: <a href="http://bit.ly/mssignup2013">Microsoft Signup Form</a>

</div>
</section>
