<section class="section" role="main">
<div class="container">
  <div class="page-header">
    <h1>Become a Member</h1>
  </div>
  <div class="row">
    <div class="span8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit lorem sed venenatis placerat. Nulla suscipit metus sit amet sodales euismod. Cras commodo adipiscing tincidunt. Phasellus vestibulum turpis ante, in pulvinar leo sagittis eget. Nulla ac augue auctor, sollicitudin metus non, feugiat velit. In vel sagittis nulla. Nulla viverra porttitor orci a vehicula. Phasellus luctus, massa vel adipiscing tincidunt, diam libero commodo lorem, nec pellentesque lacus diam sollicitudin eros. Maecenas molestie arcu vitae fringilla lobortis. Pellentesque luctus, velit non condimentum egestas, neque massa molestie elit, ac blandit augue nunc eget ipsum. Aenean bibendum quis odio sit amet euismod. Donec egestas dolor ac velit accumsan ultricies. Cras cursus sapien erat, dapibus tempor eros interdum at. Curabitur odio velit, accumsan non mattis quis, dictum eu metus. Praesent fermentum mattis purus, sed viverra ligula vulputate vitae.

      Proin sit amet luctus augue, eu lacinia nisi. Fusce imperdiet sapien et tellus bibendum blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus sollicitudin a mauris eget molestie. Praesent eget accumsan magna, in lacinia sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut blandit eros id rutrum volutpat. Fusce eleifend nisi vel malesuada dictum. Nulla ultricies mauris et libero placerat, ut tincidunt magna mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris faucibus fermentum massa vel accumsan. Nunc in felis et est euismod molestie id non sem.
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="invoice" value="<%= current_user.id %>">
      <input type="hidden" name="hosted_button_id" value="XPJULFDUV8SS4">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  </div>
</div>
</section>
