<div class="content">
  <div class="row">
    <div class="span12 offset1">
      <h1>Thank you for paying your dues!</h1>
      <%= link_to "Go back to your profile", profile_path(current_user), class: "btn btn-success" %>
      <br />
      <br />
    </div>
  </div>
</div>
