<h1>Users</h1>
<% @users.each do |u| %>
  <%= link_to(u.email, profile_path(u)) %> <%= link_to("Make Admin", "#" , :class => "btn btn-primary") unless u.admin || current_user.try(:admin?) %> <br /><br />
<% end %>
