<div class="container">
  <h2>Members that have paid dues <small>Count: <%= @paying_members.count %></small></h2>
  <% @paying_members.each do |m| %>
    <h4><%= link_to m.full_name, profile_path(m) %> </h4>
  <% end %>
</div>
