<div class="container">
<br />
<%= link_to "Dues Report", reports_dues_report_path, class: "btn btn-info" %>
<%= link_to "Attendance Report", reports_attendance_report_path, class: "btn btn-info" %>
<%= link_to "Recently Registered", reports_recently_registered_path, class: "btn btn-info" %>
<br />
<br />
</div>
